html {
    background:
        linear-gradient(to bottom, rgba(134, 100, 4, 0.435), rgba(118, 54, 5, 0.489)),
        url('./images/pexels-los-muertos-crew-6836429.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,
h2,
h3 {
    color: darkgoldenrod;
    display: flex;
    justify-content: center;
    text-shadow: 2px 1px black;
}

a,
a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightblue;
}

a:visited {
    color: darkolivegreen;
}


#aussie-photos {
    border: 5px ridge darkgoldenrod;
    border-radius: 5px;
    margin: auto;
    display: block;
    justify-content: center;
}

.about-info {
    text-align: center;
    border: 3px ridge darkgoldenrod;
    margin: auto;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.about-info h2 {
    text-align: center;
    color: darkgoldenrod;
    text-decoration: underline;
}

.about-info p {
    text-shadow: 2px 1px black;
    color: blanchedalmond;
}

.about-info ul {
    text-align: left;
    color: darkgoldenrod;
    text-shadow: 1px 1px black;
}

.pros_cons {
    text-align: center;
    border: 3px ridge darkgoldenrod;
    color: blanchedalmond;
    text-shadow: 2px 1px black;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.pros_cons h2 {
    text-decoration: underline;
    text-shadow: 2px 1px black;
}

.pros_cons li {
    text-align: left;
}

#dog-photos {
    border: 5px ridge darkgoldenrod;
    width: 200px;
    height: 300px;
    margin: auto;
    display: block;
    justify-content: center;
}

.dog-about-info {
    text-align: center;
    border: 3px ridge darkgoldenrod;
    color: blanchedalmond;
    text-shadow: 2px 1px black;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

/* Dropdown Button */
.dropbtn {
    background-color: darkgoldenrod;
    color: white;
    padding: 20px;
    font-size: 16px;
    border: 2px ridge blanchedalmond;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: darkolivegreen;
}

footer {
    text-align: center;
    color: blanchedalmond;
}